@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@1,700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}
.add-book h1{
    position: relative;
    padding: 0px 1rem;
}
.add-book h1::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 8px;
    left: 0px;
    background: linear-gradient(to left, orange, rgb(237, 46, 25));
}
.wrapper{
    margin: 1rem auto 0px auto;
    padding: .2rem 2rem;
}
form div{
    margin: 1rem 0px;
}
input{
    display: block;
    width: 100%;
    padding: .2rem .6rem;
}
#submit{
    width: 4rem;
    height: 2rem;
    color: white;
    background: linear-gradient(to left, orange, rgb(237, 46, 25));
    padding: initial;
}
table{
      width: 100%;
    
}
table thead,table tbody{
    /* display: grid;
    grid-template-columns: 30% 30% 30% 10%; */
    padding: 6rem 1rem 1rem 1rem;

}
th, td{
    padding: .2rem 10px;
    text-align: left;
    border-bottom: 1px solid #ede5e5;
    position: relative;
}

i{
    width: 2rem;
    color: black;
}
.delete{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
img{
    width: 2rem;
    display: flex;
    /* align-content: flex-end; */
}

/* ================================
dynamic css styling starts here*/
.notify {
    color: white;
    padding:.3rem 1rem;
    margin: 1rem 0px .4rem 0px;
}
.success{
    background-color: green;
}

.failure{
    background-color: red;
}
/* ====================================
dynamic css styling ends here */

@media (min-width:475px) {
    .wrapper{
        max-width: 690px;
    }
}